@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&subset=cyrillic');

<!-- Фон страниц -->
body {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #ADB7BC;
  font-family: 'Open Sans', sans-serif;
}

<!-- Заголовок первого уровня: будет использоваться ТОЛЬКО для "Пента.Почта" вверху страницы -->
h1 {
  position: absolute;
  width: 894px;
  height: 145px;
  left: 71px;
  top: 77px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 96px;
  color: #000000;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

<!-- Фон формы -->
.formBG {
  position: absolute;
  width: 650px;
  height: 300px;
  left: 635px;
  top: 332px;
  background: #344755;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 0px 0px;
}

<!-- Кнопка -->
.button {
  position: absolute;
  width: 650px;
  height: 76px;
  left: 635px;
  top: 665px;
  background: #F9AA33;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
}

<!-- Текст кнопок -->
p.button {
  position: absolute;
  width: 423px;
  height: 43px;
  left: 749px;
  top: 684px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

<!-- Кнопка входа/регистрации -->
<!-- Возможно, стоит реализовать наследование из .button, если это вообще можно -->
.enterButton {
  position: absolute;
  width: 200px;
  height: 76px;
  left: 865px;
  top: 537px;
  background: #F9AA33;
  border-radius: 36px;
  p: inherit
}

<!-- Текст кнопки входа/регистрации -->
p.enterButton {
  position: absolute;
  width: 110px;
  height: 50px;
  left: 910px;
  top: 548px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 44px;
  text-align: center;
  color: #1B252D;
}

<!-- Поля ввода текста -->
.textInput {
  position: absolute;
  width: 374px;
  height: 46px;
  left: 848px;
  top: 375px;
  background: #FFFFFF;
  border-radius: 36px;
}

<!-- Текст в формах -->
.formText {
  position: absolute;
  width: 126px;
  height: 46px;
  left: 705px;
  top: 375px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #C7CCCE;
}
